:root {
    --brand-color: #de5d83;
    --white: white;
    --background: #333333;
    --darkGrey: #1E1E1E;
    --font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
    font-family: var(--font-family);
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

header {
    width: 45px;
    height: 100%;
    position: sticky;
    display: inline-block;
    z-index: 100;
}

main {
    display: inline-block;
    width: calc(100% - 45px);
    height: 100%;
    position: absolute;
    z-index: 10;
}

h2 {
    font-size: 2.5rem;
    font-family: var(--font-family);
    color: var(--white);
    line-height: 1.1;
}

.left {
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.9);
}

.left,
.bottom {
    background-color: var(--brand-color);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.bottom,
.transition-bottom {
    height: 0;
    width: 0;
    transition-property: height;
    position: fixed;
    z-index: 2;
}

.transition-left {
    width: 45px;
    height: 100%;
    position: fixed;
    transition-property: width;
}

.transition__social-media__left {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.transition__social-media__link__left {
    margin: 10px 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.transition__social-media__link__left:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.transition__social-media__bottom {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.transition__social-media__link__bottom {
    width: auto;
    height: 0;
    position: relative;
}

.transition__social-media__img {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.3);
    transform: scale(1.3) rotate(0deg);
}

.about-me {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--darkGrey);
    z-index: 0;

    box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575);
    -webkit-box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575);
    -moz-box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575);
}

.figures-container {
    height: 100%;
    margin: 15px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 10;
}

.figure_container {
    width: 30px;
    height: 30px;
    position: absolute;
}

.figure_container:first-child,
.figure_container:nth-child(2),
.figure_container:nth-child(6),
.figure_container:nth-child(11),
.figure_container:nth-child(16),
.figure_container:nth-child(18),
.figure_container:nth-child(14),
.figure_container:nth-child(8),
.figure_container:nth-child(4),
.figure_container:nth-child(19) {
    left: 0;
    top: 0;
}

.figure_container:nth-child(17),
.figure_container:nth-child(12),
.figure_container:nth-child(7),
.figure_container:nth-child(3),
.figure_container:nth-child(13),
.figure_container:nth-child(5),
.figure_container:nth-child(20),
.figure_container:nth-child(9),
.figure_container:nth-child(15),
.figure_container:nth-child(10) {
    left: 10%;
    top: 30%;
}

.figure_container:nth-child(18),
.figure_container:nth-child(14),
.figure_container:nth-child(8),
.figure_container:nth-child(4),
.figure_container:nth-child(19) {
    top: 60%;
}

.figure_container:nth-child(5),
.figure_container:nth-child(20),
.figure_container:nth-child(9),
.figure_container:nth-child(15),
.figure_container:nth-child(10) {
    top: 90%;
}

.figure_container:nth-child(2),
.figure_container:nth-child(4) {
    left: 80%;
}

.figure_container:nth-child(6),
.figure_container:nth-child(8) {
    left: 20%;
}

.figure_container:nth-child(11),
  .figure_container:nth-child(14) {
    left: 40%;
}

.figure_container:nth-child(16),
.figure_container:nth-child(19) {
    left: 60%;
}

.figure_container:nth-child(17),
.figure_container:nth-child(20) {
    left: 30%;
}

.figure_container:nth-child(3),
.figure_container:nth-child(9) {
    left: 50%;
}

.figure_container:nth-child(13),
.figure_container:nth-child(15) {
    left: 70%;
}

.figure_container:nth-child(7),
  .figure_container:nth-child(10) {
    left: 90%;
}

.figure {
    transition: all 1s;
    left: 0px;
    top: 0px;
    transform: scale(1);
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border: 3px solid var(--white);
    border-radius: 50%;
    opacity: 0.5;
}

.triangle-up {
    -webkit-text-stroke: 3px var(--white);
    color: transparent;
    font-size: 2rem;
    opacity: 0.5;
}

.zigzag {
    width: 10px;
    height: 35px;
    background-color: transparent;
    position: relative;
    transform: rotate(-40deg);
    margin: 5px 0px;
    opacity: 0.5;
}

.zigzag0,
.zigzag1,
.zigzag2,
.zigzag3 {
    width: 3px;
    height: 15px;
    position: absolute;
    background-color: var(--white);
    transform: rotate(55deg);
    left: 10px;
    border-radius: 26%;
}

.zigzag1,
.zigzag3 {
    transform: rotate(-55deg);
    top: 20%;
}

.zigzag2 {
    top: 40%;
}

.zigzag3 {
    top: 60%;
}

.x {
    width: 25px;
    height: 25px;
    background-color: transparent;
    position: relative;
    opacity: 0.5;
}

.x>div:first-child,
.x>div:last-child {
    width: 3.5px;
    height: 25px;
    background-color: var(--brand-color);
    position: absolute;
    transform: rotate(45deg);
    left: 40%;
    border-radius: 30%;
}

.x>div:last-child {
    transform: rotate(-45deg);
}

.animate-circle {
    border: 3px solid var(--brand-color);
}

.animate-rotate, .animation-triangle {
    opacity: 1;
}

.figure_container>.animate-rotate {
    transform: rotate(270deg) scale(1.3);
    transform-origin: 50% 50%;
}

.animation-triangle {
    color: var(--brand-color);
    transform: scale(1.2);
    -webkit-text-stroke: 3px var(--brand-color);
}

.about-me__container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 20;
}

.about-me__information {
    display: grid;
    grid-template-columns: repeat(2, 542px);
    grid-template-rows: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.about-me__information__picture {
    width: 250px;
    height: 250px;
    justify-self: center;
    align-self: center;
    display: block;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.about-me__information__picture>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575), 2px 16px 10px -10px rgba(0, 0, 0, 0.651);
    -webkit-box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575), 2px 16px 10px -10px rgba(0, 0, 0, 0.651);
    -moz-box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575), 2px 16px 10px -10px rgba(0, 0, 0, 0.651);
}

.about-me__details {
    width: 100%;
    height: 350px;
    color: var(--white);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 78px 50px 176px;
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: var(--background);
    border-radius: 20px;
    padding: 16px;
    box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575), 2px 16px 10px -10px rgba(0, 0, 0, 0.651);
    -webkit-box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575), 2px 16px 10px -10px rgba(0, 0, 0, 0.651);
    -moz-box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575), 2px 16px 10px -10px rgba(0, 0, 0, 0.651);
}

.about-me__details__name {
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 10px;
    justify-self: center;
    align-self: flex-end;
    grid-row: 1 / 2;
}

.about-me__details__name::after {
    color: var(--brand-color);
    content: attr(data-descr);
    text-shadow: 3px 3px black;
}

.about-me__details__profession {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 3.5rem;
    font-weight: bold;
    background: linear-gradient(to right, var(--brand-color) 0, var(--white) 10%, var(--brand-color) 20%);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;
    color: transparent;
}

@-moz-keyframes shine {
    from {
        background-position: 0;
    }

    to {
        background-position: 463px;
    }
}

@-webkit-keyframes shine {
    from {
        background-position: 0;
    }

    to {
        background-position: 463px;
    }
}

@-o-keyframes shine {
    to {
        background-position: 0;
    }

    from {
        background-position: 463px;
    }
}

@keyframes shine {
    from {
        background-position: 0;
    }

    to {
        background-position: 463px;
    }
}

.about-me__details__information {
    display: flex;
    font-size: 18px;
    font-weight: normal;
    width: 90%;
    height: 100%;
    text-align: justify;
    justify-self: center;
    align-self: center;
    padding-top: 10px;
}

.projects {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    background-color: var(--background);
    height: 100%;
    width: 100%;
    padding: 50px 0;
}

.project__container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin-top: 35px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding-top: 50px;
}

.btn:first-child {
    font-weight: bold;
}

.btn {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 1fr;
    background-color: rgba(100, 100, 100, 0.158);
    border-radius: 16px;
    width: auto;
    height: 35px;
    border: none;
    outline: none;
    margin: 10px;
    padding: 0 10px;
    cursor: pointer;
    opacity: 0.7;
    justify-content: start;
    color: var(--white);
    align-items: center;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
}

.btn>img {
    width: 30px;
    height: 30px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.btn>p {
    width: fit-content;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: var(--font-family);
}

.btn:hover {
    background-color: #4b4b4b;
    opacity: 1;
}

.btn.btn-active {
    background-color: var(--darkGrey);
    color: var(--white);
    opacity: 1;
}

.project__list__container {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 20px;
}

.project__list {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;

    margin: 30px auto;
    background-color: var(--darkGrey);
    border-radius: 20px;
    box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575), 2px 16px 10px -10px rgba(0, 0, 0, 0.651);
    -webkit-box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575), 2px 16px 10px -10px rgba(0, 0, 0, 0.651);
    -moz-box-shadow: 2px 26px 30px -10px rgba(0, 0, 0, 0.575), 2px 16px 10px -10px rgba(0, 0, 0, 0.651);

    max-height: 706px;
    overflow: hidden;
}

.project__list__items {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0 auto;
    overflow-y: auto;
    scrollbar-color: var(--darkGrey) var(--background);
    scrollbar-width: thin;
    padding: 20px;
}

.project__list__items::-webkit-scrollbar,
.project__list__items::-webkit-scrollbar-thumb {
    width: 15px;

    background-color: rgba(87, 85, 85, 0.212);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.project__list__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.noscroll {
    overflow-y: hidden;
}

.project__list__item {
    display: none;
    width: 300px;
    height: 235px;
    margin: 15px;
    list-style: none;
    position: relative;
}

.project__list__item__card {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 26px 30px -10px rgba(0, 0, 0, 0.575), 0px 16px 10px -10px rgba(0, 0, 0, 0.651);
    -webkit-box-shadow: 0px 26px 30px -10px rgba(0, 0, 0, 0.575), 0px 16px 10px -10px rgba(0, 0, 0, 0.651);
    -moz-box-shadow: 0px 26px 30px -10px rgba(0, 0, 0, 0.575), 0px 16px 10px -10px rgba(0, 0, 0, 0.651);
    transform: scale(1);
    border: 0 solid transparent;
    transition: transform 0.3s ease-in-out, border .5s ease-out .1s;
}

.project__list__item__card:hover {
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.486);
    -webkit-box-shadow: 0px 7px 6px 3px rgba(0, 0, 0, 0.486);
    -moz-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.486);
    border: 3px solid var(--white);
}

.project__list__item__card>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.project__list__item__card__background {
    object-fit: cover;
    width: 100%;
    height: 235px;
    padding: 0;
}

.project__list__item__card__content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    padding: 0 16px;
    background: linear-gradient(180deg,
            rgba(89, 89, 89, 0) 0%,
            rgba(53, 52, 52, 0.66) 30%,
            rgb(0, 0, 0, 0.73) 100%);
}

.card__title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: 37px;
}

.card__title::after {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100% + 20px);
    bottom: calc((20px - 8px) * -1);
    left: -20px;
    background-color: var(--brand-color);
}

.card__content__button {
    width: 70%;
    margin-bottom: 3px;
    position: relative;
}

.card__content--button {
    display: flex;
}

.card__button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: var(--brand-color);
    cursor: pointer;
    margin: 10px 5px;
    transform: translate(-10%, -20%);
    transition: width .2s linear, box-shadow .2s linear;
    box-sizing: border-box;
    border: 4px solid var(--brand-color);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.212);
}

.card__button:hover {
    width: 100px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.541);
    container-name: side;
    container-type: inline-size;
}

.card__button>img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

.card__button:hover>img,
.card__button:valid>img {
    display: block;
}

.card__button>a {
    display: none;
    position: absolute;
    top: 9px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.3rem;
    color: var(--darkGrey);
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-family: var(--font-family);
    font-weight: bold;
    padding-left: 25px;
    padding-bottom: 2px;
}

@container side (width > 80px) {
    .card__button>a {
        display: block;
    }
}

.project__list__item__card__container {
    width: 90%;
    height: 74px;
}

.project__list__item__card__title {
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.project__list__item__card__tasks {
    display: flex;
    position: relative;
}

.project__list__item__card__tasks>div {
    width: 40px;
    height: 40px;
}

.project__list__item__card__tasks>div>img {
    width: 100%;
    height: 100%;

}

@media (any-hover: hover) {
    .project__list__item__card__content {
        transform: translateY(65%);
        transition: transform 0.3s ease-in-out;
        transition-delay: 0.3s;
        background: linear-gradient(180deg,
                rgba(89, 89, 89, 0) 0%,
                rgba(26, 26, 26, 0.51) 30%,
                rgb(0, 0, 0, 0.73) 100%);
        height: 110%;
    }

    .card__title {
        padding-bottom: 0;
    }

    .card__title::after {
        transform: scaleX(0);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        transition-delay: 0.5s;
        transform-origin: left;
    }

    .project__list__item__card__background {
        transition: transform 0.3s ease-in-out;
    }

    .card__content--container> :not(.card__title) {
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }

    .project__list__item__card:hover,
    .project__list__item__card:focus-within {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }

    .project__list__item__card:hover .project__list__item__card__content,
    .project__list__item__card:focus-within .project__list__item__card__content {
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
    }

    .project__list__item__card:focus-within .project__list__item__card__content {
        transition-duration: 0ms;
    }

    .project__list__item__card:hover .project__list__item__card__background,
    .project__list__item__card:focus-within .project__list__item__card__background {
        transform: scale(1.2);
    }

    .project__list__item__card:hover .card__content--container> :not(.card__title),
    .project__list__item__card:hover,
    .project__list__item__card:focus-within .card__content--container> :not(.card__title) {
        transition: opacity 0.3s ease-in-out;
        transition-delay: 0.3s;
    }

    .project__list__item__card:hover .card__title::after,
    .project__list__item__card:focus-within .card__title::after {
        transform: scaleX(1);
        transform-origin: left;
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        transition-delay: 0.3s;
    }
}

@media (max-width: 750px) {
    .about-me {
        height: 100%;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }

    .about-me__information {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 350px;
    }

    .about-me__details {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 15px 0;
    }
}

.show {
    display: block;
}

.about-me__container__first-squares {
    right: -169px;
    top: -146px;
}

.about-me__container__second-squares {
    right: -150px;
    top: -20px;
}

.main__third-squares {
    left: -168px;
    bottom: -100px;
}

.main__fourth-squares {
    left: -170px;
    bottom: -150px;
}

@keyframes move-out {
    0%, 50% {
        rotate: 45deg;
    }

    0%, 25%, 100% {
        rotate: 0deg;
    }
}

@keyframes move-in {
    0%, 50% {
        rotate: 90deg;
    }

    0%, 25%, 100% {
        rotate: 180deg;
    }
}

.reveal {
    position: relative;
    transform: translateZ(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateZ(0);
    opacity: 1;
}

@media (max-width: 1236px) {
    .about-me__information {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .about-me__information__picture {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .about-me__details {
        grid-template-rows: 70px 50px auto;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 542px;
        justify-self: center;
        align-self: center;
        padding-bottom: 25px;
    }
}

@media (max-width: 914px) {
    .project {
        padding: 0;
    }
    .project__filter {
        padding-top: 30px;
    }
    .project__list {
        max-height: 562px;
        margin: 20px;
    }
}
